MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=sleekmedtech
MYSQL_USER=sleekuser
MYSQL_PASSWORD=sleekpassword
MYSQL_HOST=localhost
MYSQL_PORT=3307

MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_ENDPOINT=localhost:9000
MINIO_SECURE=false
PUBLIC_FILE_BASE_URL=http://localhost:9000

REDIS_URL=redis://localhost:6379/0

JWT_SECRET_KEY=your-secret-key-change-this
JWT_ALGORITHM=HS256
